<div class="container">
    <h1>About Us</h1>
    <p>To Fulfill the wish of Customer to drive their Bike and also make extra income to earn side-income</p>
    <p>If any Question Feel free to Contact us by Clicking the Link Below</p>
    <a href="/contact">Contact Us</a>
    <small>All rights reserved. Copyright &copy 2022</small>
</div>