            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <h1 class="center">Category</h1>
            <div class="catlist">
            <li>Scooter: Rs.1800/-</li>
            <li>SportsBike: Rs.4000/-</li>
            <li>Cruiser: Rs.4500/-</li>
            <li>Adventure: Rs.6500/-</li> 
            </div>
            <br>
            <div class="payusing">
                <h>Pay By: <br><a href="https://buy.stripe.com/test_eVa6p30mM9Px2uQ288" <i class="fa fa-cc-stripe" style="color: black;font-size:40px"></i></a></h><br>
            </div>
            <div class="razorpay">
                <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_L2r3XMrHk4nwL5" async> </script> </form>
                </div>  

            <div class="butttonforpay">
                
            </div>

            <div class="note">
                <p>Share Payment Receipt on Whatsapp After Successful payment</p>
            <small>Note: You have to pay Security Deposit and final amount will be collected by the end of Trip</small> 
            </div>
            
   


