<div class="container">
    <h2 class="center" style="color:aliceblue">Welcome to</h2>
    <h2 class="center" style="color:cyan;">Bikes Arena</h2>
    <br>
    <h2 class="center">
        <a href="/auth/facebook" class="btn btn-primary">Login With Facebook</a>
    </h2>
    {{!-- <br>
    <h2 class="center">
        <a href="/auth/google" class="btn btn-danger">Login With Google</a>
    </h2> --}}
    <br>
    <h2 class="center">
        <a href="/displayLoginForm" class="btn btn-info">Login with Email</a>
    </h2>
    <br>
    <h5 class="center">
        <h style="color:antiquewhite">Don't Have an Account?</h>
        <br>
        <a href="/signup" style="color: antiquewhite;">Create One?</a>
    </h5>
</div>
<style>   
    body{
        background-image: url('/image/bikebg.jpg');
        background-position:center;
    }
</style>