<div class="card" style="width: 18rem;">
  <img src="{{{user.image}}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{user.firstname}} {{user.lastname}}</h5>
    <a href="https://wa.me/9769859951" target="_blank" class="btn btn-danger">Chat</a>
    <a href="/showBikes" class="btn btn-info">Show Bikes</a>
  </div>
</div>